@import "../variables";

footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  box-shadow: 1px -2px 1px 1px $color-black;

  div {
    display: flex;
    flex-direction: column;

    a {
      color: $color-white;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-left: 10px;
      img {
        margin-right: 0.2vw;
      }
    }
  }
}
