@import "../variables";

.card-list {
  padding-top: 3vh;
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .page_link {
    color: $color-black;
    text-decoration: none;
    &:hover {
      color: $color-link;
      font-weight: bold;
    }
  }
}
