@import "../variables";

.card-list {
  padding: 3vh 0;
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .page_link {
    color: $color-link;
    text-decoration: none;
    margin-bottom: 1vh;
    &:hover {
      text-decoration: underline;
    }
  }
}
