@import "../variables";
@import "../placeholders";

.skills {
  list-style-type: none;
  background-color: $color-beige;
  margin-top: 5vh;
  .skills_block {
    // border: 2px solid $color-black;
    background-color: $color-white;
    border-radius: $lil-radius;
    text-align: left;
    padding-top: 0.5vh;
    transition: 1000ms;
    &:hover {
      @extend %transform-effect;
    }
  }

  .skills_list {
    background-color: $color-black;
    padding: 8px 0;
  }

  h2 {
    color: $color-black;
    font-size: 3rem;
    margin-left: 0.5vw;
    font-family: $snd-font;
  }

  li {
    list-style-type: none;
    margin-left: 1vw;
  }

  a {
    color: $color-beige;
    font-style: italic;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
