@import "../variables";
@import "../mixins";
@import "../placeholders";

a {
  text-decoration: none;
}

.works {
  width: 300px;
  height: 300px;
  border-radius: $lil-radius;
  transition: transform 1000ms;
  color: $color-black;
  text-align: left;
  padding-left: 0.1vw;
  display: flex;
  align-items: last baseline;
  border: 2px solid $color-white;

  &:hover {
    border: 2px solid $color-link;
    box-shadow: 1px 1px 5px 2px $color-link;
    transform: scale(1.1);
  }

  .worksPic {
    position: absolute;
    width: 299px;
    height: 299px;
    object-fit: cover;
    transition: transform 300ms;
    &:hover {
      transform: scale(1.02);
    }
  }

  h2 {
    z-index: 50;
    margin-left: 0.2vw;
    padding: 4px;
    background-color: $color-white;
    color: $color-link;
    border-radius: $lil-radius;
  }
}
