$color-black: #484a47;
$color-beige: #e8dcca;
$color-grey: #5c6d70;
$color-link: #9ac4f8;
$color-white: #fff;

$max-width: 1440px;

$first-font: "Open Sans", sans-serif;

$full-height: calc(100vh - 60px - 112px);
$lil-radius: 5px;
$med-radius: 25px;
$big-radius: 50px;
